img {
	width: 100px;
}

.card {
	width: 300px;
	border-radius: 10px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	box-shadow: 0 4px 20px 0 rgb(0 0 0 / 8%);
}

.fa-star,
.fa-star-half-alt {
	color: #ffe000;
}

.fa-external-link-alt {
	color: #022529;
}
